ion-content {
  --ion-background-color: #E1F5FE;
}

ion-card {
  ion-card-content {
    text-align: justify !important;
  }
}

img {
  width: 80%;
  height: auto;
  margin: 0 auto;
  display: block;
}
