<ion-header [translucent]="true">
  <ion-toolbar color="navbar">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>SimpleStat - UCM | Política de Privacidad</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
    <ion-card-header>
      <ion-card-title>Política de Privacidad</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>
          <ion-text color="primary">¿Qué información recopilamos?</ion-text>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <ion-text color="primary">
            <small>
              SimpleStat no recopila información personal de ningún tipo.
            </small>
          </ion-text>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <ion-text color="primary">¿Cómo usamos la información?</ion-text>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <ion-text color="primary">
            <small>
              SimpleStat no recopila información personal de ningún tipo.
            </small>
          </ion-text>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <ion-text color="primary">¿Cómo protegemos tu información?</ion-text>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <ion-text color="primary">
            <small>
              SimpleStat no recopila información personal de ningún tipo.
            </small>
          </ion-text>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <ion-text color="primary">¿Compartimos tu información?</ion-text>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <ion-text color="primary">
            <small>
              SimpleStat no recopila información personal de ningún tipo.
            </small>
          </ion-text>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <ion-text color="primary">¿Cómo puedes contactarnos?</ion-text>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <ion-text color="primary">
            <small>
              SimpleStat no recopila información personal de ningún tipo.
            </small>
          </ion-text>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-label>Desarrollado para Universidad Católica del Maule por:</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <ion-text color="primary">José Alejandro González Campos</ion-text>
          <br>
          <ion-text color="primary">
            <small>
              <a href="mailto:jgonzalezc@ucm.cl">jgonzalezc@ucm.cl</a>
            </small>
          </ion-text>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <ion-text color="primary">Cristian Adrian Carreño León</ion-text>
          <br>
          <ion-text color="primary">
            <small>
              <a href="mailto:cristian.carreno@uv.cl">cristian.carreno@uv.cl</a>
            </small>
          </ion-text>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <ion-text color="primary">Versión 1.1</ion-text>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <img src="assets/imgs/logo-01.png" alt="logo">
</ion-content>
